<main>
  <ul>
    <li *ngFor="let task of taskList">
      <div id="button-area">
        <div id="button-wrapper">
          <button (click)="removeTask(task)">Delete</button>
          <label for="isDone">
            Done:
            <input
              type="checkbox"
              name="isDone"
              id="isDone"
              [checked]="task.completed"
              (click)="checkTodo($event, task)"
            />
          </label>
        </div>
        <div id="text-wrapper">
          <p>{{ task.title }}</p>
        </div>
      </div>
    </li>
  </ul>
</main>
